@charset "UTF-8";

/* Orientação paisagem (deitado) */

body{
    background: url(../imagens/cev-landscape.jpg);
    background-attachment: fixed;
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
