@charset "UTF-8";

/* Todas as demais mídias */

/* 
Typical Device Breakpoints 

Pequenas telas: Até 600px
Celulares: De 600px até 768px
Tablets: De 768px até 992px
Desktops: De 992px até 1200px
Grandes telas: Acima de 1200px
*/

/* Impressoras */

@media print {
  body {
    background-image: url(../imagens/back-print.jpg); /* Desnecessário */
    font-family: "Courier New", Courier, monospace;
  }

  main {
    width: 90vw;
    border: 2px solid black;
  }

  main::after {
    content: "Essa impressão foi feita através do site do www.cursoemvideo.com";
    text-decoration: underline;
  }

  main h1 {
    text-shadow: none;
    color: black;
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#print {
    display: block;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: none;
  }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: url(../imagens/back-tablet.jpg);
  }

  main {
    width: 450px;
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: block;
  }
  img#print {
    display: none;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: none;
  }
}

/* Desktops */

@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    background-image: url(../imagens/back-pc.jpg);
  }

  main {
    width: 500px;
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#print {
    display: none;
  }
  img#pc {
    display: block;
  }
  img#tv {
    display: none;
  }
}

/* Grandes telas */

@media screen and (min-width: 1200px) {
  body {
    background-image: url(../imagens/back-tv.jpg);
  }

  main {
    width: 550px;
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#print {
    display: none;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: block;
  }
}
